{block content}

<div class="container">

  <div class="row">
      
    <h2>{$getBook->name}</h2>
    
    <p><i>{$getBook->description}</i></p>
    
    <p>{$getBook->text}</p>
    
  </div>
    
</div>

{/block}

